	 <% if (env !== 'production') { %>
		<div class="corner-ribbon top-left sticky blue shadow"><%= env %><br />
			<small><small>dbMem: <%= dbMem %></small></small><br />
			<small><small>dbSql: <%= dbSql %></small></small>
		</div>
     <% } %>