<!DOCTYPE html>
<html class="body-full-height">
    <head>        
		<%- include('partials/head-meta'); %>
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                      
    </head>
    <body class="nojs">
		<%- include('partials/noscript'); %>
		<%- include('partials/banner'); %>

       <!-- START PAGE CONTAINER -->
        <div class="page-container">
        
			<!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
				<!-- PAGE TITLE -->
				<div class="page-title">                    
					<h2><span class="fa fa-user"></span> Welcome to the SecureSwap's ICO token manager!</h2>
				</div>
				<!-- END PAGE TITLE -->
				
				<!-- PAGE CONTENT WRAPPER -->
				<div class="page-content-wrap">
					
					<div class="row">
                
						<p>Available commands:
						<ul>
							<li><a href="/createSC">createSC</a></li>
							<li><a href="/cleanTransaction">cleanTransaction</a></li>
							<li><a href="/ResendEmitedToken">ResendEmitedToken</a></li>
							<li><a href="/StartSendEth">StartSendEth</a></li>
							<li><a href="/StopSendEth">StopSendEth</a></li>
							<li><a href="/StartTokenSend">StartTokenSend</a></li>
							<li><a href="/StopTokenSend">StopTokenSend</a></li>
							<li><a href="/CheckAndFix">CheckAndFix</a></li>
							<li><a href="/BackupParams">BackupParams</a></li>
							<li><a href="/CleanParam">CleanParams</a></li>
							<li><a href="/killSC">killSC</a></li>
							<li><a href="/fixParam">fixParam</a></li>
							<li><a href="/setPrice">setPrice</a></li>
						</ul>
						</p>
					</div>
				</div>
            
			</div>            
            <!-- END PAGE CONTENT -->

        </div>
		<!-- END PAGE CONTAINER -->

    </body>
</html>
